.c-nav {
  background-color: $color-component-background;
  padding: 2rem 0;
  width: 100%;
  position: sticky;
  top: 2;
  transition: all 0.2s ease-in-out;
  box-shadow: 0rem 0.01rem 3rem $color-red;

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding-top: 1rem;

    @include media-breakpoint-down(lg) {
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.75);
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 6rem;
      position: fixed;
      z-index: 100;
      top: 0;
      right: 0;
      margin-top: 0 !important;
      transform: translateX(100%);
    }
  }

  &__item {
    margin-right: 2.5rem;

    @include media-breakpoint-down(lg) {
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    color: #FFFFFF;
    font-weight: 200;
    text-decoration: none;
    position: relative;
    z-index: 50;

    &--active {
      border-bottom: 0.1rem solid $color-red;
      font-weight: 900;
    }

    @include media-breakpoint-down(md) {
      color: white;
    }

    &:hover,
    &:active {
      color: white !important;

      @include media-breakpoint-down(md) {
        color: white !important;
      }
    }
  

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0.1rem ;
    background: $color-red;
    transition: width .3s;
  }

  &:hover::after {
    width: 100% !important;

  }
}

  &--active {
    padding: 0.5rem 0;
    box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25);

    .c-logo {
      font-size: 1.5rem;
    }
  }

  &__bar {
    z-index: 200;
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin-bottom: 0.3rem;
    background-color: $color-red;
    border-radius: 0.2rem;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &--top {
      transform-origin: 0;
    }

    &--bottom {
      transform-origin: 0 100%;
    }
  }

  &__container {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 1000;

    @include media-breakpoint-down(lg) {
      align-items: flex-end;
    }
  }

  &__toggle {
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 30;
    opacity: 0;
    z-index: 300;


    &:checked~.c-nav__list {
     transform: none;
    }

    &:checked~.c-nav__bar--top {
      transform: rotate(45deg);
      transition-duration: 0.2s;
    }

    &:checked~.c-nav__bar--bottom {
      transform: rotate(-45deg) translate(-4px, 5px);
      transition-duration: 0.2s;
    }

    &:checked~.c-nav__bar--mid {
      opacity: 0;
      transition-duration: 0.5s;
    }
  }
}