.c-getuigenissen {
  color: $text-color;

  &__title {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 0.2rem;
    font-size: 3rem;
    font-weight: 600;
    position: relative;
    &::before {
      content: " ";
      display: flex;
      height: 2px;
      width: 30%;
      position: absolute;
      background: $component-background;
      top: 50%;
      left: -1%;
      @include media-breakpoint-down("xl") {
        width: 25%;
      }
      @include media-breakpoint-only("md") {
        width: 20%;
      }
      @include media-breakpoint-only("sm") {
        width: 0%;
      }
      @include media-breakpoint-only("xs") {
        width: 0%;
      }
    }
    &::after {
      content: " ";
      display: flex;
      height: 2px;
      width: 30%;
      position: absolute;
      background: $component-background;
      top: 50%;
      right: 0;
      @include media-breakpoint-down("xl") {
        width: 25%;
      }
      @include media-breakpoint-only("md") {
        width: 20%;
      }
      @include media-breakpoint-only("sm") {
        width: 0;
      }
      @include media-breakpoint-only("xs") {
        width: 0%;
      }
    }
  }

  &__content {
    background-color: $component-background;
    margin-right: 0.5rem;
    border-radius: 0.3125rem;
    height: 15.25rem;
    margin-top: 0.5rem;
    @include media-breakpoint-only("xl") {
      height: 17.25rem;
    }
    @include media-breakpoint-only("lg") {
      height: 19rem;
    }
    // @include media-breakpoint-only("md") {
    //   height: 16.25rem;
    // }
    
    @include media-breakpoint-only("sm") {
      height: 16.25rem;
    }
    @include media-breakpoint-only("xs") {
      height: 17.25rem;
    }
    


  }
  &__img {
    position: relative;
    top: 1rem;
    left: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0.1rem 0.1em 0.2rem rgba(0, 0, 0, 0.3));
  }
  &__name {
    position: relative;
    top: -1.8rem;
    left: 6.2rem;
    font-weight: 600;
  }
  &__company {
    position: relative;
    top: -2.2rem;
    left: 6.2rem;
  }
  &__txt {
    position: relative;
    font-size: 16px;
    top: -1.5rem;
    left: 3.2rem;
    max-width: 80%;
    font-weight: 400;
    line-height: 18px;
    @include media-breakpoint-only("xl") {
      top: 0;
      max-width: 75%;
    }
    @include media-breakpoint-only("lg") {
      top: 0;
      max-width: 70%;
    }
    // @include media-breakpoint-only("md") {
    //   top: -0.8rem;
    // }
    @include media-breakpoint-only("sm") {
      top: -0.8rem;
      width: 75%;
    }
    @include media-breakpoint-only("xs") {
      top: -0.3rem;
      max-width: 75%;
    }



  }
  &__rating {
    position: relative;
    top: -13.5rem;
    left: 67%;
    width: 8rem;
    @include media-breakpoint-only("xl") {
      top: -12rem;
      left:6.2rem;
    }
    @include media-breakpoint-only("lg") {
      top: -13rem;
      left:6.2rem;
    }
    // @include media-breakpoint-only("md") {
    //   top: -12rem;
    //   left:6.2rem;
    // }
    @include media-breakpoint-down("sm") {
      top: -11rem;
      left:6.2rem;
    }
    @include media-breakpoint-only("xs") {
      top: -11rem;
      left:6.2rem;
    }

  }
  &__button {
    position: relative;
    bottom: 1rem;
    left: 88%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: purple;
    border-radius: 50%;
    background-image: linear-gradient(to top, #0f40f4, #f512cc, #f62a14);
    @include media-breakpoint-only("xl") {
      bottom: 0;
      left: 87%;
    }
    @include media-breakpoint-only("lg") {
      bottom: -0.5rem;
      left: 87%;
    }
    // @include media-breakpoint-only("md") {
    //   bottom: 0.5rem;
    //   left: 87%;
    // }
    @include media-breakpoint-only("sm") {
      bottom: 0;
      left: 87%;
    }
    @include media-breakpoint-only("xs") {
      bottom: 0;
      left: 87%;
    }
  }
  &__quoteleft{
    position: relative;
    top: -0.6rem;
    left: 2.7rem;
    @include media-breakpoint-only("xs") {
      top: 0.5rem;
    }
    @include media-breakpoint-only("sm") {
      top: 0;
    }
    @include media-breakpoint-only("lg") {
      top: 0.9rem;
    }
    @include media-breakpoint-only("xl") {
      top: 0.9rem;
    }
  }
  &__quoteright{
    position: relative;
    bottom: 2.5rem;
    left: 14.7rem;
    @include media-breakpoint-only("xs") {
      top: -1rem;
      left: 7.2rem;
    }
    @include media-breakpoint-only("sm") {
      top: -2rem;
    }
    @include media-breakpoint-only("md") {
      left: 10.2rem;
    }
    @include media-breakpoint-only("lg") {
      top: -0.9rem;
    }
    @include media-breakpoint-only("xl") {
      top: -0.9rem;
      left: 10.2rem;
    }
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;  
  @include media-breakpoint-only("xs") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include media-breakpoint-only("sm") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include media-breakpoint-only("md") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.c-button__more{
  width: 11rem;
  height: 2.3rem;
  margin: auto;
  margin-bottom: 8rem;
  border: none;
  background-color: $button-background-color;
  color: $text-color;
  border-radius: 10px;
  &:hover{
    border: 2px solid $button-background-color;
    background-color: #1D1D1D;
    transition: .4s ease;
    
  }
}
.bi {
  margin-right: 0.5rem;
  color: white;
}

.bi-chevron-right {
  position: relative;
  left: 20%;
}
.bi-quote{
    position: relative;

}
