.c-footer{
    background-color: $color-component-background;
    font-size: 0.9rem;
    &__nav--title{
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 5rem;
        color: $color-text;
    }
    &__nav--link{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $color-text;
    }
    &__input{
        width: 27rem;

        @include media-breakpoint-down("xxl"){
            width: 22.5rem;
        }        
        @include media-breakpoint-only("lg"){
            width: 18rem;
        }
        @include media-breakpoint-only("md"){
        width: 22.5rem;
        }
    }
    &__newsletter{
        display: flex;
        flex-direction: row;
    }&__logo{
        margin-top: 5rem;

    }&__nav--instagram{
        color: white;
        margin-right: 0.2rem;
        text-decoration: none;
    }&__nav--facebook{
        color: white;
    }
    &__copyright{
        margin-top: 3.5rem;
        text-align: center;
        color: $color-text;
        font-size: 15px;
        font-weight: bold;
    }
    &__adress{
        text-align: center;
        color: gray;
        font-size: 12px;
    }&__button{
        margin-top: 7.13rem;
        margin-left: 0.8rem;
        width: 5rem;
        height: 2.75rem;
        border: none;
        background-color:$color-red ;
        color: $color-text;
        &:hover{
            border-color: red;
            background-color: $color-component-background;
            transform:2s ease ;
        }

    }
}

.form{
    &-floating{
        display: flex;
        flex-direction: row;
    }
    &-control{margin-top: 0.8rem;
        height: 2.75rem;
    }

}.c-footer{
    background-color: $color-component-background;
    font-size: 0.9rem;
    &__nav--title{
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 5rem;
    }
    &__nav--link{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $color-text;
    }
    &__input{
        width: 27rem;

        @include media-breakpoint-down("xxl"){
            width: 22.5rem;
        }        
        @include media-breakpoint-only("lg"){
            width: 18rem;
        }
        @include media-breakpoint-only("md"){
        width: 22.5rem;
        }
    }
    &__form{
        display: flex;
        flex-direction: row;
    }&__logo{
        margin-top: 5rem;

    }&__nav--instagram{
        color: white;
        margin-right: 0.2rem;
        text-decoration: none;
    }&__nav--facebook{
        color: white;
    }
    &__copyright{
        margin-top: 3.5rem;
        text-align: center;
        color: $color-text;
        font-size: 15px;
        font-weight: bold;
    }
    &__adress{
        text-align: center;
        color: gray;
        font-size: 12px;
    }&__button{
        margin-top: 7.13rem;
        margin-left: 0.8rem;
        width: 5rem;
        height: 2.75rem;
        border: none;
        background-color:$color-red;
        color: $color-text;
        &:hover{
            border-color: red;
            background-color: $color-component-background;
            transform:2s ease ;
        }

    }
}

.form{
    &-floating{
        display: flex;
        flex-direction: row;
    }
    &-control{margin-top: 0.8rem;
        height: 2.75rem;
    }
}