.c-cases {
  position: relative;
  color: $color-text;
  margin: 3rem 0 0 0;
  &__page {
    font-weight: 600;
  }
  &__header {
    text-align: center;
    &--txt {
      font-weight: 500;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}

.title {
  margin: 4rem 0 1rem 0;
  color: $color-text;
  font-weight: 700;
}


// .reverse {
//   flex-direction: row-reverse;
//   @include media-breakpoint-only("sm") {
//     flex-direction: column;
//   }
  
// }
.c-work {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 1rem;
  @include media-breakpoint-only("sm") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__component{
    display:block;
    justify-content: space-around;
  }
  &__img {
    display: block;
    width: 100%;
    height: 22.65rem;
    border-radius: 0.625rem;
    object-fit: cover;
  }
  &__imgsecundairy {
    display: block;
    width: 100%;
    height: 22.65rem;
    border-radius: 0.625rem;
    object-fit: cover;
    &--reverse {
      margin-left: 0;
    }
  }
  &__company {
    position: absolute;
    width: 100%;
    top: 2rem;
    margin-left: 2rem;
    font-weight: 700;
    text-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.16);
    @include media-breakpoint-only("sm") {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        
      }
    

  }
  &__companysec {
    position: absolute;
    width: 100%;
    top: 2rem;
    margin-left: 2rem;
    font-weight: 700;
    text-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.16);
    @include media-breakpoint-only("sm") {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        
      }
    
    &--reverse {
      margin-left:2rem;
    }
  }
  &__link {
    position: relative;
    width: 100%;
    color: $color-text;
    &:hover {
      color: $color-text;
    }
  }
  &__overlay {
    position: absolute;
    top: 16.7rem;
    padding: 1rem;
    background-color: rgba(52, 52, 52, 0.6);
    width: 100%;
    height: 6rem;
    border-radius: 0 0 0.625rem 0.625rem;
    font-size: 1.4rem;
    @include media-breakpoint-only("md") {
        text-align: center;
        top: 60%;
        height: 40%;
      }
    @include media-breakpoint-only("sm") {
        text-align: center;
        top: 50%;
        height: 50%;
  } 
  }
  &__overlaysec {
    position: absolute;
    top: 16.7rem;
    padding: 1rem;
    background-color: rgba(52, 52, 52, 0.6);
    width: 100%;
    height: 6rem;
    border-radius: 0 0 0.625rem 0.625rem;
    font-size: 1.4rem;
    @include media-breakpoint-only("md") {
        margin: 0;
        text-align: center;
        top: 60%;
        height: 40%;
      }
      @include media-breakpoint-only("sm") {
        text-align: center;
        top: 50%;
        height: 50%;
    } 
    &--reverse {
      margin: 0;
    }
  }
  &__overlaytxt {
    margin: 0.5rem 0 0 0.5rem;
    width: 65%;
    line-height: 26px;
    @include media-breakpoint-only("lg") {
      margin: 0;
      width: 100%;
    }
    @include media-breakpoint-only("md") {
        margin: 0;
        width: 100%;
      }
    @include media-breakpoint-only("sm") {
        margin: 0;
        width: 100%;
        font-size: 28px;
        line-height: 30px;
      }
  }
  &__reverse{
    flex-direction: row-reverse;
    @include media-breakpoint-only("sm") {
      flex-direction: column;
    }
  }
}

.c-wrone {
  position: relative;
  color: $color-text;
  font-size: 3.75rem;
  font-weight: 500;
  padding: 2rem 0 2rem 0;
  @include media-breakpoint-only("sm") {
    font-size: 2rem;
  }
  @include media-breakpoint-only("md") {
    font-size: 3rem;
  }
  @include media-breakpoint-only("lg") {
    font-size: 3.5rem;
  }
  &__qleft {
    position: absolute;
    top: 1rem;
    left: 15rem;
    color: #193ef2;
    font-weight: 500;
    font-size: 2rem;
    @include media-breakpoint-only("sm") {
        left: 3rem;
        font-size: 1.25rem;
      }
      @include media-breakpoint-only("md") {
        left: 2rem;
        font-size: 1.25rem;
      }
      @include media-breakpoint-only("lg") {
        left: 6rem;
        font-size: 1.25rem;
      }
  }
  &__qright {
    position: absolute;
    top: -1rem;
    right: 14rem;
    font-size: 2rem;
    color: #193ef2;
    margin: 2rem 2rem 2rem 2rem;
    @include media-breakpoint-only("sm") {
        right: 1rem;
        font-size: 1.25rem;
      }
      @include media-breakpoint-only("md") {
        right: 0;
        font-size: 1.25rem;
      }
      @include media-breakpoint-only("lg") {
        right: 4rem;
        font-size: 1.25rem;
      }
  }
}

.c-button__more-cases {
  width: 7rem;
  height: 2.3rem;
  margin: 1.5rem auto;
  margin-bottom: 2rem;
  border: none;
  background-color: $color-red;
  color: $color-text;
  border-radius: 10px;
  &:hover {
    border: 2px solid $color-red;
    background-color: #1d1d1d;
    transition: 0.4s ease-in-out;
  }
}
.underline {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 0.1em;
}


// Dit is voor de section "Enkele fiere klanten"


.c-customers{
    display: flex;
    flex-direction: row;
    // margin: 2rem 0 2rem 0; 
    &__img{
        display: block;
        align-items: center;
        height: 11.2625rem;
        margin-right: 2rem;
        @include media-breakpoint-only("md") {
            &--6{
                display: none;
            }
        }

    }
    &__link{
        display: flex;
        flex-direction: row;

    }
    
}
.c-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    &__up{
    position:relative;
    width: 1.5rem;
    height: 1.5rem;
    background-color: purple;
    border-radius: 50%;
    background-image: linear-gradient(to top, #0f40f4, #f512cc, #f62a14);
    margin-left: 1.5rem;   
    }
    &__down{
        position:relative;
        width: 1.5rem;
        height: 1.5rem;
        background-color: purple;
        border-radius: 50%;
        background-image: linear-gradient(to top, #0f40f4, #f512cc, #f62a14); 
        margin-right: 1.5rem;  
    }
    &__position{
        color:$color-text;
        font-weight: 700;

    }
}
.next {
    position: absolute;
    top: 0.3rem;
    left: -1rem;
  }
  .previous {
    position: absolute;
    top: 0.3rem;
    left:0.2rem;
  }

  .carousel {
    &-inner{
        height: 14rem;
    }
}
// .carousel-inner {
//     height:14rem;
// }
.carousel-caption {
    top: 50%;
}

.carousel-caption{
   display: block;
   align-items: center;
   left: 2%;
   top: 50%;

}


// Dit is voor Daag ons uit

.title-large {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 0.2rem;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: white;
  margin-bottom: 2rem;
  &::before {
    content: " ";
    display: flex;
    height: 2px;
    width: 30%;
    position: absolute;
    background: $color-component-background;
    top: 50%;
    left: 0;
    @include media-breakpoint-down("xl") {
      width: 25%;
    }
    @include media-breakpoint-only("md") {
      width: 20%;
    }
    @include media-breakpoint-only("sm") {
      width: 0%;
    }
    @include media-breakpoint-only("xs") {
      width: 0%;
    }
  }
  &::after {
    content: " ";
    display: flex;
    height: 2px;
    width: 30%;
    position: absolute;
    background: $color-component-background;
    top: 50%;
    right: 0;
    @include media-breakpoint-down("xl") {
      width: 25%;
    }
    @include media-breakpoint-only("md") {
      width: 20%;
    }
    @include media-breakpoint-only("sm") {
      width: 0;
    }
    @include media-breakpoint-only("xs") {
      width: 0%;
    }
  }
}

.c-contact {
position: relative;
  display: block;
  align-items: center;
  color: $color-text;
  background-color: #343434;
  padding: 3rem 3rem 1rem 3rem;
  margin: auto;
  margin-bottom: 4rem;
  &__subtitle{
    font-weight: 600;
  }
  &__txt {
    font-weight: 300;
    margin-top: 1rem;
    width: 63%;
  }
  &__button{
    width: auto;
    display: flex;
    flex-direction: row;
    &--gradient{
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background-color: purple;
        border-radius: 50%;
        background-image: linear-gradient(to top, #0f40f4, #f512cc, #f62a14);
    }   &--txt{
        position: relative;
        bottom: 0;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
   }
   
    @include media-breakpoint-only("xl") {
      bottom: 0;
      left: 8%;
    }
    @include media-breakpoint-only("lg") {
      bottom: -0.5rem;
      left: 87%;
    }

    @include media-breakpoint-only("sm") {
      bottom: 0;
      left: 87%;
    }
    @include media-breakpoint-only("xs") {
      bottom: 0;
      left: 87%;
    }

  }
}
.title-large {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 0.2rem;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: white;
  margin-top: 1rem;
  margin-bottom: 3rem;
  &::before {
    content: " ";
    display: flex;
    height: 2px;
    width: 30%;
    position: absolute;
    background: $color-component-background;
    top: 50%;
    left: 0;
    @include media-breakpoint-down("xl") {
      width: 25%;
    }
    @include media-breakpoint-only("md") {
      width: 20%;
    }
    @include media-breakpoint-only("sm") {
      width: 0%;
    }
    @include media-breakpoint-only("xs") {
      width: 0%;
    }
  }
  &::after {
    content: " ";
    display: flex;
    height: 2px;
    width: 30%;
    position: absolute;
    background: $color-component-background;
    top: 50%;
    right: 0;
    @include media-breakpoint-down("xl") {
      width: 25%;
    }
    @include media-breakpoint-only("md") {
      width: 20%;
    }
    @include media-breakpoint-only("sm") {
      width: 0;
    }
    @include media-breakpoint-only("xs") {
      width: 0%;
    }
  }
}

.c-contact {
position: relative;
  display: block;
  align-items: center;
  color: $color-text;
  background-color: #343434;
  padding-left: 3rem;
  padding-bottom: 3rem;
  margin: auto;
  margin-bottom: 4rem;
  @include media-breakpoint-only("sm") {
    padding-bottom: 5rem;
  }
  @include media-breakpoint-only("xs") {
    padding-bottom: 5rem;
  }
  &__subtitle{
    font-size: 2.5rem;
    font-weight: 600;
  }
  &__txt {
    font-weight: 300;
    margin-top: 2rem;
    width: 63%;
  }
  &__button{    
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 80%;
    bottom: 1rem;
    &--gradient{
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-image: linear-gradient(to top, #0f40f4, #f512cc, #f62a14);
    }   &--txt{
        position: relative;
        font-size: 1.2rem;
        color: $color-text;
        text-decoration: none;
        margin-left: 2.5rem;
   }

    @include media-breakpoint-only("xl") {
        left: 77%;
    }
    @include media-breakpoint-only("lg") {
        left: 75%;
    }
    @include media-breakpoint-only("md") {
      left: 65%;
    }
    @include media-breakpoint-only("sm") {
      left: 55%;
    }
    @include media-breakpoint-only("xs") {
      left: 3rem;
    }

  }

}


