.c-introductie{
    
    &__card{
        margin-top: ;
        background: $component-background;
        border-radius: 20px;
        margin-right: -5rem;
        
    }


    &__img{
    border-radius: 1.25rem;
    margin-left: -8rem;
    margin-top: 6rem;
    height: 26rem;
    
    margin-right: -6rem;
    }
    &__subtitel{
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 1.5rem;
        padding-top: 2.5rem;
    }
    &__text{
        padding-left: 3rem;
        padding-right: 15rem;
        padding-bottom: 1.5rem;
        font-weight: lighter;
        &--accent{
            font-weight: bold;
            text-decoration: underline;
            text-decoration-color: red;
        }
    }
}