@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');


$color-component-background:#343434;
$color-text: #FAFAFA;
$color-white-background: #EFEFEF;
$color-footer-light: #5E5E5E;
$color-red:#F62822;
$color-blue: #193EF2;
$color-pink: #F51BCB;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;


$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1700px
);
